@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer&display=swap');

$header-en-font: "Urbanist";
$body-en-font: "Kantumruy Pro";
$header-km-font: "Noto Sans Khmer";
$body-km-font: "Kantumruy Pro";