@import './theme-colors';
@import './fonts';

:root {
    /* form kit */
    --fk-color-primary: #{$primary} !important;
    --fk-color-input: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: #{$header-en-font},
    #{$header-km-font},
    sans-serif;
}

body {
    scroll-behavior: smooth;
    font-family: #{$body-en-font},
    #{$body-km-font},
    sans-serif;
}